* {
  text-align: justify;
  color: #222244;
}

h1,
h3 {
  color: #333366;
  text-align: center;
}

ul {
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  font-size: 20px;
}

li {
  margin: 20px;
}

a {
  text-decoration-line: none;
}

a.navigation {
  margin-left: 80vw;
}

img {
  margin: 0 25vw 0 25vw;
  width: 50vw;
}